<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Learning | <%= title %></title>
</head>
<style>
  h3 {
    color: green;
  }
</style>
<body>
  <%- include('./partials/nav.ejs') %>

  <!-- We can write javascript in ejs using below syntax -->
  <% const name = 'Rohit' %>
  <h1>HTML with EJS</h1>

  <!-- When you want to render any javascript value, always add '=' in syntax -->
  <h2><%= name %></h2>
  <!-- we are getting number as data from app.js file -->
  <h3><%= number %></h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aliquid quam mollitia. Rerum perspiciatis nulla eius officiis obcaecati enim quo, nam, hic ex assumenda quod labore cumque molestias nemo. A voluptatem temporibus modi error ipsa aspernatur quae nam ab consequuntur. Accusantium natus vero reiciendis corrupti pariatur minima enim recusandae maxime libero blanditiis. Fugit reiciendis odio necessitatibus ea illum sed nobis provident dolore, odit omnis incidunt. Ex expedita veniam quasi nisi vel in consectetur provident, praesentium deleniti earum ea! Beatae, tenetur accusantium accusamus nostrum aliquid, illum nihil perspiciatis quasi atque sunt rem quo corrupti necessitatibus voluptate, placeat ipsum consequatur cumque labore.
  </p>
</body>
</html>